<!-- <div class="h-100 row align-items-center"  style="margin-top: 20px;">
<div class="col">

<p style="text-decoration: underline; text-align: center;color:#fff;">Selecione as palavras aceitáveis para descrever o que há na fotografia.</p>
</div>


</div> -->

    <div class="row horizontal-bg" style="width: inherit; margin: 0 auto;">
      <div class="col" style="text-align: center">
        <h1 style="color: #fff; text-align: center">Agradecemos a sua colaboração.<br> Caso deseje entrar em contato com nossa equipe utilize o e-mail: yurilacerda@ifce.edu.br
</h1>

      </div>

    </div>










<!-- <div class="horizontal-bg">

<div class="row">

<div class="col">
<div class="row" style="text-align: center">

<form>
<div class="form-group">
<button class="btn btn-primary" > < Voltar</button>

<button type="submit" class="btn btn-primary">Avançar > </button>
</div>
</form>
</div>
</div>

</div>

<div class="row" style="margin-top 20px;">
<div class="span6" style="float:right; margin: 0 auto;">

</div>
</div>
</div> -->

<!-- </div> -->
